html,body {
    height: 100%;
    width:100%
}
.btnchoose{
    margin-top: 20px;
}
#choose{
    border: 1px solid black;
    width: 30%;
    padding: 20px;
    margin-left: 35%;
    margin-top: 5%;
    text-align: center;
    background: url("../images/paperimg.jpg");
    background-size: cover;
    border-radius: 20px;
}
#bg{
    width: 100%;
    height: 100%;
    border: 1px solid green;
    background: url("../images/choosebg.jpg");
    background-size: cover;
}