.table_header{
    width: 1800px;
    height: 120px;
    margin-top:30px;
    padding-left: 250px;
}

.tr_header{
    height: 120px;
}
.td_header{
    width: 600px;
}
.span_header{
    font-size: 20px;
    color: #999;
}
.a_header{
    font-size: 20px;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.register{
    background: #f8fcff;
    border: 1px solid #acd4f1;
    padding: 40px 0 60px 100px;
}
.content{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
}
h1{
    padding: 0 30px;
    border-bottom: 2px solid #ccc;
    line-height: 40px;
    height: 40px;
    margin-bottom: 45px;
    margin-right: 100px;
    font-weight: normal;
    font-size: 14px;
}
.content_span{
    color: #0c69ae;
    font-size: 18px;
    border-bottom: 2px solid #0c69ae;
    display: inline-block;
}
.text1{
    width: 350px;
    background: #fff;
    border: 1px solid #e9e9e9;
    line-height: 40px;
    height: 40px;
    float: left;
}
.form_group{
    height: 40px;
    width: 50%;
}
.form_select{
    height: 40px;
    width: 120px;
}
.input_button{
    margin-top: 5px;
}
.btn_submit{
    margin-left: 50px;
    width: 30%;
}