html,body {
    height: 100%;
    width:100%
}
.btnchoose{
    margin-top: 20px;
}
#choose{
    border: 1px solid black;
    width: 30%;
    padding: 20px;
    margin-left: 40%;
}
#bg{
    width: 100%;
    border: 1px solid green;
}