.table_header{
    width: 1800px;
    height: 120px;
    margin-top:30px;
    padding-left: 250px;
}

.tr_header{
    height: 120px;
}
.td_header{
    width: 600px;
}
.span_header{
    font-size: 20px;
    color: #999;
}
.a_header{
    font-size: 20px;
}
.div_mid{
    display: block;
    height: 500px;
    background: url(../images/login_bg.jpg) no-repeat center top #45a9c9;
}
.container_mid{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.slogan_mid{
    float: left;
}
.img_mid{
    margin: 25px 0 0 50px;
    border: none;
    width: auto;
}
.content_mid{
    float: right;
    width: 350px;
    background: #fff;
    padding: 20px 15px;
    margin: 40px 0;
}
.div_footer{
    background-color: #fff;
    margin-top: 50px;
}
.div_button{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 25px;
}
dl{
    line-height: 25px;
    font-size: 12px;
}
.content_menu{
    border-bottom: 2px solid #ccc;
    margin-bottom: 25px;
    float: none;
}
.menu_li1{
    margin: 0;
    background: none;
    text-align: center;
    width: 50%;
    float: left;
    padding: 0;
    line-height: 50px;
    height: 50px;
    margin-bottom: -2px;
}
.menu_li2{
    margin: 0;
    background: none;
    text-align: center;
    width: 50%;
    float: left;
    padding: 0;
    line-height: 50px;
    height: 50px;
    margin-bottom: -2px;
}
.menu_ul{
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    list-style: none outside none;
}
.content_imput{
    background: #1d8bd7;
    text-align: center;
    color: #fff;
    display: inline-block;
    height: 40px;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
}
.content_a{
    margin-left: 50px;
}
.other_login{
    line-height: 40px;
    margin-top: 15px;
    margin-left: 25px;
}
.other_span{
    float: left;
}
.other_qq {
    width: 30px;
    height:30px;
}
.other_weixin{
    margin-left: 10px;
    width: 30px;
    height:30px;
}
.spane{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 16.66666667%;
    float: left;

}